<%- include layouts/header.ejs %>
<%- include layouts/nav.ejs %>


<p> Bot developer from Indonesian who named their bot as BotAct. BotAct is a bot who can act as your personal assistant</p>

<h3>Our Staff</h3>
	<ol>
	<li><a href="">Kukuh P</a></li>
	<li><a href="">Pramesti H</a></li>
	<li><a href="">Dimas P</a></li>
	<li><a href="">Imam S R</a></li>
	</ol>
<%- include layouts/footer.ejs %>