<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Node es6</title>
	<meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


	<style type="text/css">
body {	background-color:#000000; color: #444;	}

img { width: 45px; height: 45px; background-color: #C0C0C0}

h1 { font-weight: bold; text-align: center; color: #000000; height: 45px}
h2 { color: #C0C0C0; text-align: center; }
header { background-color: #C0C0C0; }
nav { height: 30px;
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: right; }
table { border: 0; }
tr, td { background-color: blue; }

p { font-family: sans-serif; text-align: left; color: red; }
	a:link { color:#000000 }
	a:visited { color:#C0C0C0; }
	a:hover { color:#B4045F; }
	a:active { color:#00FF00; }
footer { background-color: #C0C0C0; text-align: center; }

ul { list-style-type: none; text-align: right;}

ol { list-style-type: none; }
	</style>
</head>
<nav>
	<table align="right">
		<tr>
	<td>| <a href="/"><b>HOME</a> | </td>
	<td>| <a href="/about"><b>ABOUT</a> | </td>
	<td>| <a href="/what-we-do"><b>WHAT WE DO</a> |</td>
	<td>| <a href="/regist"><b>REGISTER</a> |</td>
		</tr>
	</table>
</nav>
<form align="right">
<input type="text" value="BotName" name="botname" />
<input type="password" value="password" name="botpwd" /><br>
<a href="">Forgot Password?</a>
<input type="submit" value="Login" name="BotLogin" />
</form>
<body>
